.intro {
  margin-top: 59px;
  background: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  color: #fff;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 52px;
}

.intro-title {
  background: #009966;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}