.price {
  background: #eee;
  padding: 40px 0;
  text-align: center;
}

.table {
  text-align: center;
  border-spacing: 0;
  max-width: 800px;
  margin: 0 auto;
}

.table td, th {
  border: 1px solid #c0c0c0;
  padding: 10px;
}