* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

.margin-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.button-blue {
  background: #6699CC;
  color: #fff;
}

.content-title {
  text-decoration: underline;
  margin-bottom: 30px;
  font-size: 25px
}
